@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #daffe2
}

.size-10 {
  height: 2.25rem;
  width: 2.25rem;
}
.inset-0 {
  inset: 0px;
}
.justify-end {
  justify-content: flex-end;
}