@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #daffe2
}

/* 
primary
.bg-primary {
  background-color: #16a34a;
} */

/* .color-primary {
  color: #16a34a;
} */


/* secondry
.bg-secondry {
  background-color: #8ffba6;
} */

/* .color-secondry {
  color: #daffe2;
} */

.pizza-bar {
  border-radius: 200px 0 0 200px;
}

.leaf {
  left: 15rem;
}

/* .vector-bg {
  background-image: url('/Vector.svg');
  background-size: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 100%;
} */

/* .header{
  height: 125px;
  width: 100%;
} */
/* 
.svg-image{
 top: -60px;
 transform: scaleX(-1.5);
} */


/* HTML: <div class="loader"></div> */
#loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #514b82;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}